# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science.
- Do a table with Data Science Tools.
- Do some arithmetic problems.

Some of the popular languages that Data Scientist use are:
1. Python
2. Julia
3. C
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. NumPy
3. Pandas
4. Keras

|Data Science Tools|
-------------------
|Anaconda|
|MySQL|
|Jupyter Notebook|

### Below are few examples of evaluating arithmetic expressions in Python

In [21]:
# This a simple arithmetic expression to multiply then integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
## Asier